/* Reset all margins, paddings, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: monospace;
    font-size: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: url(../images/jwst_ngc_604.png) no-repeat center center fixed;
    background-size: cover; /* Ensures the image covers the whole viewport */
}


/* make background image more transparent */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.0); /* White overlay with 50% opacity */
    z-index: -1;
}

/* Header styling */
header {
    background-color: #4b0c02;
    font-size: 29px;
    padding: 30px 0 20px 50px;
}


/* Footer styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #4b0c02;
    color: #dac8c2;
    clear: both;
    position: relative;
    height: 100px;
    font-family: monospace;
    font-size: 12px;
}

/* Font Awesome icon styling */
.fa {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 24px;
    padding: 0;
    color: #ca755b;
    margin-right: 0; /* Space between icon and text */
    vertical-align: middle;
}

.fa:hover {
    color: #ca755b;
}

.fa:active {
    color: #ca755b;
    text-decoration: none;
}

.fa_header {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-rendering: auto;
    padding: 0;
    color: #f4cccc; /* Set the icon color */
    font-size: 18px;
    margin-right: -5px; /* Space between icon and text */
    padding-bottom: 2px; /* Space between icon and text */
    vertical-align: middle; /* Aligns icon with text */
}


.link_header {
        text-decoration: none;
        color: #ca755b;
        align-items: center;
    }

    .link_header .text {
        font-family: monospace;
        font-size: 24px;
        color: #ca755b;
    }

    /* Hover effect: changes text color */
    .link_header:hover .text {
        color: #f4cccc;
    }




/* Anchor styling */
a:link, a:visited {
    color: #ca755b;
    text-decoration: none;
    font-weight: normal;
}

a:active {
    text-decoration: underline;
    color: #ca755b;
}

a.link_text:link
{
    color: #ca755b;
	text-decoration: none;
	font-weight: normal;
    /* font-family: monospace; */
    font-size: 16px;
    vertical-align: middle;
}
a.link_text:visited
{
    color: #ca755b;
	text-decoration: none;
	font-weight: normal;
    /* font-family: monospace; */
    font-size: 16px;
    vertical-align: middle;
}
a.link_text:hover
{
	text-decoration: none;
	font-weight: normal;
    color: #d0a497;
    /* font-family: monospace; */
    font-size: 16px;
    vertical-align: middle;
}

a.link_text:active {
    text-decoration: underline;
    color:#ca755b;
    vertical-align: middle;
}


a.link1:link
{
    color: #ca755b;
	text-decoration: none;
	font-weight: normal;
    /* font-family: monospace; */
    font-size: 18px;
    vertical-align: middle;
}
a.link1:visited
{
    color: #ca755b;
	text-decoration: none;
	font-weight: normal;
    /* font-family: monospace; */
    font-size: 18px;
    vertical-align: middle;
}
a.link1:hover
{
	text-decoration: none;
	font-weight: normal;
    color: #d0a497;
    /* font-family: monospace; */
    font-size: 18px;
    vertical-align: middle;
}

a.link1:active {
    text-decoration: underline;
    color: #ca755b;
    vertical-align: middle;
}

a.link2:link
{
    color: #444444;
	text-decoration: none;
	font-weight: normal;
    font-size: 18px;
}
a.link2:visited
{
    color: #444444;
	text-decoration: none;
	font-weight: normal;
    font-size: 18px;
}
a.link2:hover
{
	text-decoration: none;
	font-weight: normal;
    color: #716f6f;
    font-size: 18px;
}


a.link3:link
{
    color: #4b0c02;
	text-decoration: none;
	font-weight: bold;
    font-family: monospace;
    font-size: 16px;
}
a.link3:visited
{
    color: #4b0c02;
	text-decoration: none;
	font-weight: bold;
    font-family: monospace;
    font-size: 16px;
}
a.link3:hover
{
	text-decoration: none;
	font-weight: bold;
    font-family: monospace;
    color: #ca755b;
    font-size: 16px;
}

/* Heading and paragraph styling */
h1, h2, h3 {
    font-family: monospace;
    color: #4b0c02;
}

h1 {
    /* font-size: 4.5vw; */
    font-size: 50px;
    color: #f4cccc;
    padding-bottom: 20px;
}


h2 {
    /* font-size: 2.1vw; */
    font-size: 32px;
    /* margin-left: 80px;
    margin-right: 100px; */
    padding-bottom: 20px;
    /* border-radius:20px; */
}

h3 {
    font-size: 20px;
    padding-left: 60px;
    margin-bottom: 10px;
}


/* Flex container styling */
.flex-container_papers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

.flex-container_papers > div {
    background-color: #f8ebeb;
    border-radius: 10px;
    /* width: 30%; */
    width: 350px;
    margin: 10px;
    padding: 15px;
    text-align: justify;
    line-height: 1.4;
    font-size: 16px;
}


div.flexcontainer2 {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    font-size: 16px;
}


.flexcontainer2 figure {
    max-width: 100px; /* Adjust this size as needed */
    margin: 0 auto 20px; /* Centers each figure and adds spacing */
}

.flexcontainer2 figure img {
    /*width: 30%; */ /* Makes image fit the figure size */
    width: 300px;
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px;
}

.flexcontainer2 figure figcaption {
    font-size: small;
    text-align: center;
}



div.columns_narrow {
    width: 400px;
    text-align: left;
    border-left: 3px solid #4b0c02;
}

div.columns_wide {
    /* width: 70%; */
    width: 850px;
    font-size: 16px;
}


.columns_wide {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.figure-row {
    display: flex;
    /* gap: 10px; */
}

.figure-row figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centers image and caption within each figure */
    text-align: center;
}

.columns_wide figure img {
    /* width: 100% */; /* Makes the image fill the figure’s width */
    width: 300px;
    border-radius: 10px;
}

.columns_wide figure figcaption {
    font-size: small;
    text-align: center;
    width: 320px;
    margin-top: 10px; /* Adds space between the image and the caption */
}


/* Media query for responsiveness */
/* @media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
} */

/* Responsive layout - makes a one column layout instead of a two-column layout */
/* @media (max-width: 600px) {
    .columns_wide figure {
        margin-left: 0;
    }

    .columns_wide,
    .columns_narrow {
        width: 100%;
    }

    .columns_wide figure figcaption {
        width: auto;
        margin-left: 0;
    }

    .flexcontainer2 {
        flex-direction: column;
    }

    .flex-container {
      flex-direction: column;
      padding: 10px;
    }
} */

/* section to make transparent background */
section {
    background-color: rgba(255, 255, 255, 0.7); /* White overlay with 50% opacity */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius:10px;
    font-size: 16px;
}

/* everything for p in general */
p {
    font-family: Georgia;
    text-align: justify;
    text-justify: inter-word;
    line-height: 24px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}


p.p_narrow {
    font-family: monospace;
    font-size: 20px;
    text-align:left;
    margin-left: 40px;
    line-height: 40px;
}

p.p_wide {
    font-size: 16px;
    font-family: Georgia;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 40px;
    padding-top: 20px;
}

p.p_list {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

/* Miscellaneous box and button styling */
.box_text, .box_linktext {
    font-family: Georgia;
    font-size: 16px;
}

.box_title {
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    color: #4b0c02;
    text-align: left;
    padding-bottom: 5px;
}

.box_authors {
    font-family: Verdana;
    /* font-size: 0.9vw; */
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}



.publication-image {
    /* width: 100% */; /* Adjust as necessary */
    width: 320px;
    height: auto;
    margin-right: 15px;
    border-radius: 8px;
    align-self: center;
}

.read-more-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #f8ebeb;
    color: #4b0c02;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #4b0c02;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}


hr {
    border-top: 1.5px solid #4b0c02;
    margin: 20px 60px;
}
